{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static 'css/login_and_reset_password.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body>
<div class="wrapper">
    <div class="title">Сброс пароля</div>
    <form method="post" novalidate>
        {% csrf_token %}
        {% if form.email.errors %}
            <div class="text-danger mb-2">{{ form.email.errors.0 }}</div>
        {% endif %}
        <div class="field">
            <input type="email" name="email" id="id_email" required>
            <label for="id_email">Email</label>
        </div>
        <div class="pass-link">
            <a href="{% url 'account_login' %}">Вспомнили пароль?</a>
            <a href="{% url 'account_signup' %}">Создать аккаунт</a>
        </div>
        <div class="field">
            <input type="submit" value="Отправить ссылку">
        </div>
    </form>
</div>
</body>
</html>
