{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Словарь
{% endblock title %}

{% block toasts %}
    {% if default_message %}
        {% if default_message|gettype == 'int' %}
            {# If it's a number, we output it with action and declension #}
            {% include 'includes/toast_default_message.html' with action='Удалено' message=default_message plural_suffix="слово,слова,слов" %}
        {% else %}
            {# If a string, we simply output text without action and declension #}
            {% include 'includes/toast_default_message.html' with message=default_message %}
        {% endif %}
    {% elif achievement_message %}
        {% include 'includes/toast_achievement_message.html' with message=achievement_message %}
    {% endif %}
{% endblock toasts %}

{% block content %}
    <form method="post" action="{% url 'core:delete_selected_words' %}">
        {% csrf_token %}
        <div class="container mt-5">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-3">
                <h1 class="mb-2 mb-lg-0">Ваш словарь</h1>

                <div class="d-flex flex-column flex-sm-row gap-2">
                    <button type="submit" class="btn btn-danger">
                        Удалить выбранные
                    </button>

                    <a href="{% url 'core:new-dictionary-word' %}"
                       class="btn btn-primary">
                        Добавить слово
                    </a>
                </div>
            </div>

            <!-- ===================== -->
            <!-- Desktop table -->
            <!-- ===================== -->
            <div class="table-responsive d-none d-lg-block">
                <table class="table table-bordered custom-table align-middle text-center">
                    <thead class="table-dark">
                    <tr>
                        <th><input type="checkbox" id="select-all"></th>
                        <th>#</th>
                        <th>Слово на английском</th>
                        <th>Перевод</th>
                        <th>Произношение</th>
                        <th>Статус</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for word in words %}
                        <tr>
                            <td>
                                <input type="checkbox"
                                       name="selected_words"
                                       value="{{ word.id }}">
                            </td>

                            <th scope="row">
                                {{ forloop.counter }}
                            </th>

                            <td>
                                {{ word.english_name }}
                            </td>

                            <td>
                                {{ word.russian_name }}
                            </td>

                            <td>
                                <button type="button"
                                        class="btn btn-sm btn-outline-secondary"
                                        onclick="playAudio('{{ word.english_name|escapejs }}')">
                                    <i class="bi bi-play-fill"></i>
                                </button>
                            </td>

                            <td class="{% if word.status == 'LEARNED' %}table-success{% else %}table-warning{% endif %}">
                                {{ word.get_status_display }}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">Слов пока нет</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- ===================== -->
            <!-- Mobile cards -->
            <!-- ===================== -->
            <div class="d-lg-none">
                {% for word in words %}
                    <div class="card mb-3 shadow-sm">
                        <div class="card-body">

                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title mb-0">
                                    {{ word.english_name }}
                                </h5>

                                <input type="checkbox"
                                       name="selected_words"
                                       value="{{ word.id }}">
                            </div>
                            <p class="text-muted mb-2">
                                Перевод: {{ word.russian_name }}
                            </p>
                            <div class="d-flex justify-content-between align-items-center">

                                <button type="button"
                                        class="btn btn-sm btn-outline-secondary"
                                        onclick="playAudio('{{ word.english_name|escapejs }}')">
                                    <i class="bi bi-play-fill"></i>
                                    Произношение
                                </button>

                                <span class="badge {% if word.status == 'LEARNED' %}bg-success{% else %}bg-warning text-dark{% endif %}">
                                {{ word.get_status_display }}
                            </span>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Слов пока нет</p>
                {% endfor %}
            </div>
        </div>
    </form>

    <script src="{% static 'js/checkboxesSelectAll.js' %}"></script>
    <script src="{% static 'js/pronunciationWord.js' %}"></script>

{% endblock content %}