{% if unseen_achievements %}
    {% for user_achievement in unseen_achievements %}
        {% include 'includes/toast_achievement_message.html' with message=user_achievement.achievement.name description=user_achievement.achievement.description icon=user_achievement.achievement.icon %}
    {% endfor %}
    <div class="d-none"
         hx-post="{% url 'core:mark-achievements-seen' %}"
         hx-trigger="load"
         hx-swap="none"></div>
{% endif %}

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            {% include 'includes/toast_default_message.html' with message=message %}
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            {% include 'includes/toast_success_message.html' with message=message %}
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            {% include 'includes/toast_error_message.html' with message=message %}
        {% endif %}
    {% endfor %}
{% endif %}
