services:
  web:
    build: .
    image: web-english-boost
    container_name: web
    volumes:
      - static_volume:/usr/src/english-boost/staticfiles
    develop:
      watch:
        - action: sync
          path: .
          target: /usr/src/english-boost
          ignore:
            - .venv/
        - action: rebuild
          path: ./requirements.txt
        - action: rebuild
          path: ./entrypoint.sh
    restart: unless-stopped
    env_file:
      - .env

    depends_on:
      - db
  db:
    image: postgres:16.11-bookworm
    container_name: db
    restart: unless-stopped
    volumes:
      - data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}

  redis:
    image: redis:6.2-bookworm
    container_name: redis
    restart: unless-stopped
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - static_volume:/usr/share/nginx/html/staticfiles
    depends_on:
      - web


volumes:
  data:
  static_volume: