services:
  web:
    build: .
    image: web-english-boost
    container_name: web
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "127.0.0.1:8000:8000"
    develop:
      watch:
        - action: sync
          path: .
          target: /usr/src/english-boost
          ignore:
            - .venv/
        - action: rebuild
          path: ./requirements.txt
        - action: rebuild
          path: ./entrypoint.sh
    restart: unless-stopped
    env_file:
      - .env

    depends_on:
      - db
  db:
    image: postgres:16.11-bookworm
    container_name: db
    restart: unless-stopped
    volumes:
      - data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=postgres
      - POSTGRES_DB=dbname

  redis:
    image: redis:6.2-bookworm
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    depends_on:
      - db

volumes:
  data: