.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
}

.oswald-font {
    font-size: 28px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.dictionary-container {
    max-width: 900px;
    min-width: 600px;
    margin: 0 auto;
}

.play-audio-button {
    all: unset;
    cursor: pointer;
}

.new-word-card {
    max-width: 600px;
}

