{% extends "base.html" %}
{% load static i18n %}

{% block title %}
    {% trans "Dictionary" %}
{% endblock title %}

{% block toasts %}
    <div id="dictionary-toasts"
         hx-get="{% url 'core:toasts' %}"
         hx-trigger="wordDeleted from:body"
         hx-swap="innerHTML">
        {% include "core/partials/toasts.html" %}
    </div>
{% endblock toasts %}

{% block content %}
    <form method="post"
          hx-post="{% url 'dictionary:delete-selected-words' %}"
          hx-target="#dictionary-table"
          hx-swap="innerHTML">
        <div class="container mt-5">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center mb-3">
                <h1 class="mb-2 mb-lg-0">{% trans "Your dictionary" %}</h1>

                <div class="d-flex flex-column flex-sm-row gap-2">
                    <button type="submit" class="btn btn-danger">
                        {% trans "Delete selected" %}
                    </button>

                    <a href="{% url 'dictionary:new-dictionary-word' %}"
                       class="btn btn-primary">
                        {% trans "Add word" %}
                    </a>
                </div>
            </div>
            <div id="dictionary-table">
                {% include "dictionary/partials/dictionary_table.html" %}
            </div>
        </div>
    </form>

    <script src="{% static 'js/checkboxesSelectAll.js' %}"></script>
    <script src="{% static 'js/pronunciationWord.js' %}"></script>

{% endblock content %}